:root {
  --cambridge-blue: #9dbf9e;
  --beige: #d0d6b5;
  --light-coral: #ee7674;
  --melon: #f9b5ac;
  --mountbatten-pink: #987284;
}
#root,
* {
  margin: 0;
  padding: 0;
  max-width: none;
}
body {
  font-family: "Montserrat", "sans-serif";
}
#background {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(var(--cambridge-blue), var(--beige));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
#countdown-container {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 1rem var(--mountbatten-pink);
  margin-top: 10rem;
}
#countdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--mountbatten-pink);
  color: var(--melon);
  width: fit-content;
  padding: 2rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
#countdown h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1rem;
}
#countdown-menu {
  background-color: var(--melon);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 0 0 0.2rem 0.2rem;
}
#countdown-menu button {
  background-color: transparent;
  color: var(--mountbatten-pink);
  font-weight: 600;
  font-size: 1.3rem;
  padding-block: 1rem;
  border: none;
  flex: 1;
  transition: 0.2s;
}
#countdown-menu button:hover {
  cursor: pointer;
  background-color: var(--mountbatten-pink);
  color: var(--melon);
}
